.about {
  background-color: $primary-bg-dark;
  border-radius: 1rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem;
  margin-top: 20rem;

  main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 27%;
      border-radius: 0.5rem;
    }
    p {
      margin: 0 auto;
      padding: 1rem 2rem;
      max-width: 60ch;
    }
  }
}

@media screen and (max-width: 760px) {
  .about{
    padding: 2rem;
    margin-top: 5rem;
    main{
      flex-direction: column;
      img{
        width: 50%;
        margin-bottom: 1rem
      };
    }
  }
}
