footer{
  background-color: $primary-bg-dark;
  padding: 3rem;

  div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    p{
      color: #f0f0f0ad;
      margin-right: 2rem;
    }
  }
}

