footer{
  background-color: $primary-bg-dark;
  padding: 1.5rem;
  div{
    
    display: flex;
    flex-wrap: wrap;
    
    p{
      color: #f0f0f0ad;
      margin-right: 2rem;
    }
  }
}

//------- Mobile ----------

@media screen and (max-width: 760px) {
  
}
