//--- card -----

%card-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5rem;

  .border-card {
    border-radius: 1rem;
    padding: 0.6rem;
    max-width: 60%;
  }
  .card {
    background-color: $primary-dark;
    border-radius: 0.5rem;
    padding: 3rem;

    h3 {
      font-size: 2.2rem;
      color: $primary;
    }

    p {
      margin-top: 1rem;
      color: #ffffffb4;
    }

    span {
      color: $primary;
    }
  }

  .img-anchor {
    text-decoration: none;
    max-width: 300px;
    display: block;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }
    .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
      padding: 0.6rem;
    }
  }

  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;

    a {
      text-decoration: none;
      color: black;
      font-size: 2rem;
      font-weight: bold;
      
      button {
        margin-right: 2rem;
        padding: 0.8rem;
        background-color: $primary;
        border: none;
        border-radius: 0.5rem;
        width: 10rem;
        font-size: 1.5rem;
        font-weight: bold;
        transition: background-color 0.3s ease;
      }

      .button-website{
        padding: 1.1rem;
      }

      .button-code {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    button:hover {
      background-color: $ligth;
    }

    .icon-button {
      margin-right: 5px;
      width: 25px;
    }
  }
}

//-----  Mobile  card   -----

@media screen and (max-width: 760px) {
  %card-style {
    .border-card {
      max-width: 98%;
      margin-bottom: 1rem;
    }

    .card {
      padding: 2rem;
    }
  }
}
