.skills {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
  background-color: $primary-bg-dark;
  border-radius: 1rem;
  margin-top: 20rem;
  margin-bottom: 20rem;
  padding: 5rem;

  span {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  img {
    margin-right: 0.5rem;
    width: 20px;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    section{
      border: 2px solid $primary;
      border-radius: 0.5rem;
      padding: 1.5rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.8rem;

      h3{
        color: $primary;
        margin-bottom: 0.5rem;
      }
      div {
        display: flex;
      }
    }
  }
}

// ---- Mobile ------

@media screen and (max-width: 760px) {
  .skills {
    margin-top: 5rem;
    .container-top {
      .dev-skills-left {
        justify-content: center;
      }
    }
  }
}
