.skills {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
  background-color: $primary-bg-dark;
  border-radius: 5rem;
  margin-top: 20rem;
  padding: 5rem;

  span {
    margin-left: 1rem;
    font-size: 2rem;
  }
  img {
    margin-right: 0.5rem;
    width: 40px;
  }

  .container-top {
    //border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;

    // top left
    .dev-skills-left {
      display: flex;
      flex-wrap: wrap;
      gap: 5rem;

      .left,
      .right {
        border: 3px solid $secondary;
        border-radius: 4rem;
        padding: 2rem;

        div {
          padding: 1rem;
          display: flex;
          align-items: center;
        }
      }
    }

    // top right
    .dev-skills-right {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      .top,
      .bottom {
        border: 3px solid $secondary;
        border-radius: 4rem;
        padding: 2rem;

        div {
          padding: 1rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .soft-skills,
  .learning {
    border: 2px solid $secondary;
    border-radius: 3.5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 5rem auto;

    div {
      padding: 1rem;
      display: flex;
      align-items: center;
    }
  }

  .learning {
    border: 2px solid yellowgreen;
    h3 {
      font-size: 3rem;
      color: $secondary;
    }
  }
}



// ---- Mobile ------

@media screen and (max-width: 760px) {
  .container-top {
    .dev-skills-left {
      justify-content: center;
    }
  }
}
