.work {
  background-color: $primary-bg-dark;
  border-radius: 1rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem;
  margin-top: 20rem;

  div {
    border-left: 2px solid $primary;
    margin-top: 5rem;
    padding-left: 2rem;

    h3 {
      color: $primary;
      margin-bottom: 1rem;
    }

    h4 {
      display: flex;
      justify-content: space-between;
    }

    p {
      color: rgba(255, 255, 255, 0.7058823529);
      margin-bottom: 1rem;
      max-width: 80ch;
      display: flex; 
      align-items: baseline;
    }

    .dot {
      font-size: 0.8rem;
      margin-right: 0.8rem; 
    }

    span {
      font-size: 1.2rem;
    }
  }

  #education {
    margin-top: 15rem;
  }
}



// ------ Mobile -------

@media screen and (max-width: 760px) {
  .work{
    margin-top: 5rem;
  }
}