// scss
@import "variables";
@import "placeholder";
@import "navigation";
@import "header";
@import "cards";
@import "footer";
@import "about";
@import "work";
@import "skills";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  // 38%, 38.05%) (Blur tip)
  // to avoid close teeth,  you have to put a number very close so that it makes a small blur, by putting some decimals the lines look super clean
  background: linear-gradient(
    to bottom right,
    $primary-dark 38%,
    $primary 38.05%,
    $primary-dark
  );

  #projects,
  #about,
  #skills,
  #work {
    scroll-margin-top: 15rem;
  }

  h1,
  h2 {
    color: $primary;
  }

  .sub-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-size: 4rem;
  }

  span,
  p,
  h3 {
    color: $ligth;
  }

  h4 {
    color: #f0f0f0;
  }
}