// scss
@import "variables";
@import "placeholder";
@import "navigation";
@import "cards";
@import "footer";
@import "about";
@import "cv";
@import "work";
@import "skills";
@import "contacts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  //background:linear-gradient(to bottom right, #043c39 38%, #11b7af 38.05%, #043c39) (Blur consejo)
  background: linear-gradient(
    to bottom right,
    $primary-dark 38%,
    $primary 38.05%,
    $primary-dark
  );

  h1,
  h2 {
    color: $secondary;
  }

  .sub-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-size: 4rem;
  }

  span,
  p,
  h3 {
    color: $ligth;
  }

  h4{
    color:#f0f0f0;
  }
}

// ----   Header    ------

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $primary-bg-dark;
  border-radius: 5rem;
  margin: 0 auto;
  margin-top: 20rem;
  margin-bottom: 5rem;
  max-width: 120rem;
  padding: 5rem 4rem;

  .header-title {
    span {
      font-size: 6rem;
    }

    h1 {
      font-size: 8rem;
    }

    h2 {
      font-size: 4rem;
      padding-top: 1rem;
    }
  }

  section {
    max-width: 50rem;
    margin-top: 15rem;

    p {
      margin-top: 1rem;
    }
  }
}


// ------ Mobile -------

@media screen and (max-width: 760px){
  header{
    margin-top: 13rem;
    padding: 4rem 3rem;
    section{
      margin-top: 2rem;
    }
  }
}

