.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5rem;
}
.card-container .border-card {
  border: 2px solid #b2efec;
  border-radius: 6rem;
  padding: 0.6rem;
  max-width: 60%;
}
.card-container .card {
  background-color: #043c39;
  border-radius: 5rem;
  padding: 3rem;
}
.card-container .card h3 {
  font-size: 2.2rem;
  color: #92c4f6;
}
.card-container p {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7058823529);
}
.card-container .card-img {
  max-width: 300px;
  object-fit: cover;
  border-radius: 5rem;
  border: 2px solid #b2efec;
  padding: 0.6rem;
}
.card-container .buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}
.card-container .buttons-container button {
  margin: 2rem auto;
  padding: 0.8rem;
  background-color: #11b7af;
  border: none;
  border-radius: 10px;
  width: 10rem;
}
.card-container .buttons-container button a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.card-container .buttons-container button:hover {
  background-color: #5377CA;
}
.card-container .buttons-container .github-button {
  display: flex;
  justify-content: center;
}
.card-container .buttons-container .github-button a {
  display: flex;
  align-items: center;
}
.card-container .buttons-container .github-button .icon-button {
  margin-right: 5px;
  width: 25px;
}

@media screen and (max-width: 760px) {
  .card-container .border-card {
    max-width: 98%;
    margin-bottom: 1rem;
  }
  .card-container .card {
    padding: 2rem;
  }
}
.logo {
  font-size: 3rem;
  font-weight: bolder;
  color: #043c39;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #043c39, #11b7af);
  color: rgba(240, 240, 240, 0.8901960784);
  height: 5rem;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.menu li {
  margin: 0 1.8rem;
  overflow: hidden;
}
.menu a {
  text-decoration: none;
  color: #b2efec;
  font-weight: bold;
}
.menu a:hover {
  color: #92c4f6;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 3rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgba(240, 240, 240, 0.8901960784);
  position: absolute;
  height: 0.3rem;
  width: 3rem;
  transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

@media screen and (max-width: 760px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu a {
    font-size: 2.1rem;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid rgba(204, 204, 204, 0.3960784314);
    height: 3.3em;
    padding: 0.5em;
    transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    width: 100%;
    color: rgba(240, 240, 240, 0.8901960784);
    background-color: #043c39;
  }
}
.cards-container {
  background-color: #021716;
  border-radius: 5rem;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 5rem;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40rem;
  padding: 2rem;
  border-radius: 3rem;
  z-index: 999;
}
.popup img {
  height: 40rem;
  border-radius: 3rem;
  border: 2px solid;
}

footer {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #021716;
  border-radius: 5rem;
  margin-top: 20rem;
  padding: 5rem;
  margin-bottom: 10rem;
}
footer form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer form input,
footer form button, footer form textarea {
  width: 35rem;
}
footer form input,
footer form textarea,
footer form button {
  background-color: #b2efec;
  margin: 1rem 0;
  padding: 1.2rem;
  border: none;
  resize: none;
  border-radius: 1rem;
}
footer form ::placeholder,
footer form button {
  color: rgba(0, 0, 0, 0.355);
}
footer form ::placeholder {
  font-size: 1.7rem;
}
footer form button {
  color: black;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1rem;
  background-color: #11b7af;
  cursor: pointer;
}
footer form button:hover {
  background-color: #5377CA;
}
footer form .icons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer form .icons-container img {
  width: 60px;
}
footer form .icons-container a {
  border-radius: 1.5rem;
  padding: 2rem;
  background-color: #11b7af;
}
footer form .icons-container a:hover {
  background-color: #5377CA;
}

@media screen and (max-width: 760px) {
  footer form .icons-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 3rem;
  }
}
.about {
  background-color: #021716;
  border-radius: 5rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem;
  margin-top: 20rem;
}

.CV {
  background-color: #021716;
  border-radius: 5rem;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
  margin-bottom: 20rem;
}
.CV a {
  text-decoration: none;
  font-size: 2rem;
}
.CV button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.1rem;
  border-radius: 2.2rem;
  cursor: pointer;
  background-color: #11b7af;
  border: none;
}
.CV button img {
  width: 50px;
  margin-right: 0.5rem;
}
.CV button:hover {
  background-color: #5377CA;
}

@media screen and (max-width: 760px) {
  .CV {
    padding: 2.5rem;
    gap: 1rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(to bottom right, #043c39 38%, #11b7af 10%, #043c39);
}
body h1,
body h2 {
  color: #5377CA;
}
body .sub-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: 4rem;
}
body span,
body p,
body h3 {
  color: rgba(240, 240, 240, 0.8901960784);
}
body h4 {
  color: #f0f0f0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #021716;
  border-radius: 5rem;
  margin: 0 auto;
  margin-top: 20rem;
  margin-bottom: 5rem;
  max-width: 120rem;
  padding: 5rem 4rem;
}
header .header-title span {
  font-size: 6rem;
}
header .header-title h1 {
  font-size: 8rem;
}
header .header-title h2 {
  font-size: 4rem;
  padding-top: 1rem;
}
header section {
  max-width: 50rem;
  margin-top: 15rem;
}
header section p {
  margin-top: 1rem;
}

.skills {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
  background-color: #021716;
  border-radius: 5rem;
  margin-top: 20rem;
  padding: 5rem;
}
.skills div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.skills div span {
  margin-right: 5rem;
  font-size: 2rem;
}
.skills img {
  margin-right: 0.5rem;
  width: 30px;
}

@media screen and (max-width: 760px) {
  header section {
    margin-top: 5rem;
  }
}/*# sourceMappingURL=main.css.map */